@model adminconsole.Models.LocationsContactSpecialQualitiesViewModel

@{
    ViewData["Title"] = "Index";
}

<table class ="table table-bordered"
            id="table"
            data-toggle="table"
            data-search="true"
            data-show-search-clear-button="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-show-export="true"
            data-sort-stable="true"
            data-pagination="true">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailOutlet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptsCash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cashless)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositTaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandicapAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitedTransactions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryIdrequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnMilitaryBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestrictedAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfServiceOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalDetail)
            </th>
            <th>
                Controls
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.locations)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailOutlet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.AcceptsCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.Cashless)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.DepositTaking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.HandicapAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.LimitedTransactions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.MilitaryIdrequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.OnMilitaryBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.RestrictedAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.SelfServiceOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.Surcharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialQualities.AdditionalDetail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    </table>
