@model IEnumerable<adminconsole.Models.Locations>

@{
    ViewData["Title"] = "Index";
}

<div class="display-table-options">
    <div class="display-table-option">
        <input type="radio" name="tables" onclick=selectLocations() checked/> Locations
    </div>
    <div class="display-table-option">
        <input type="radio" name="tables" onclick=selectContacts() /> Contact
    </div>
    <div class="display-table-option">
        <input type="radio" name="tables" onclick=selectSpecialQualities() /> Special Qualities
    </div>
    <div class="display-table-option">
        <input type="radio" name="tables" onclick=selectHoursPerDayOfTheWeek() /> Hours/Day of the Week
    </div>
    <div class="display-table-option">
        <input type="radio" name="tables" onclick=showAll() /> Show All

    </div>
</div>

<div class="showLocations">
    <table class="table table-bordered"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-search-clear-button="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"
           data-sort-stable="true"
           data-pagination="true">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.Hidden("hiddenCityHeader", "City")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailOutlet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if(item.Name ==  "BECU")
                        {
                            <img src="~/media/BEC-Logo-Icon-pms.png" />
                        }
                        else
                        {
                            <img src="~/media/logo_co-op.png" style="height: 40px;"/>
                        }
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.Hidden("hiddenCity", item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailOutlet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="showContacts">
    <table class="table table-bordered"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-search-clear-button="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"
           data-sort-stable="true"
           data-pagination="true">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.WebAddress)
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Fax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.WebAddress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="showSpecialQualities">
    <table class="table table-bordered"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-search-clear-button="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"
           data-sort-stable="true"
           data-pagination="true">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.RestrictedAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AcceptDeposit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.EnvelopeRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.OnPremise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Access)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.InstallationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.DriveThruOnly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.LimitedTransactions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.HandicapAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AcceptCash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Cashless)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.SelfServiceOnly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Surcharge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.OnMilitaryBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.MilitaryIdRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.SelfServiceDevice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AccessNotes)
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.RestrictedAccess)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AcceptDeposit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.EnvelopeRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.OnPremise)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Access)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.InstallationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.DriveThruOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.LimitedTransactions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.HandicapAccess)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AcceptCash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Cashless)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.SelfServiceOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Surcharge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.OnMilitaryBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.MilitaryIdRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.SelfServiceDevice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AccessNotes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="showHoursPerDayOfTheWeek">
    <table class="table table-bordered"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-search-clear-button="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"
           data-sort-stable="true"
           data-pagination="true">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursMonOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursMonClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursTueOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursTueClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursWedOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursWedClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursThuOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursThuClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursFriOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursFriClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSatOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSatClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSunOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSunClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtmonOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtmonClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDttueOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDttueClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtwedOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtwedClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtthuOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtthuClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtfriOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtfriClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsatOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsatClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsunOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsunClose)
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.HoursPerDayOfTheWeek != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursMonOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursMonClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursTueOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursTueClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursWedOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursWedClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursThuOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursThuClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursFriOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursFriClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSatOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSatClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSunOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSunClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtmonOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtmonClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDttueOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDttueClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtwedOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtwedClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtthuOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtthuClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtfriOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtfriClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsatOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsatClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsunOpen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsunClose)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="showAll">
    <table class="table table-bordered"
           id="table"
           data-toggle="table"
           data-search="true"
           data-show-search-clear-button="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"
           data-sort-stable="true"
           data-pagination="true">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailOutlet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.WebAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.RestrictedAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AcceptDeposit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.EnvelopeRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.OnPremise)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Access)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.InstallationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.DriveThruOnly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.LimitedTransactions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.HandicapAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AcceptCash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Cashless)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.SelfServiceOnly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.Surcharge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.OnMilitaryBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.MilitaryIdRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.SelfServiceDevice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialQualities.AccessNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursMonOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursMonClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursTueOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursTueClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursWedOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursWedClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursThuOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursThuClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursFriOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursFriClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSatOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSatClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSunOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursSunClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtmonOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtmonClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDttueOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDttueClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtwedOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtwedClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtthuOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtthuClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtfriOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtfriClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsatOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsatClose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsunOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursPerDayOfTheWeek.HoursDtsunClose)
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailOutlet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Fax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.WebAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.RestrictedAccess)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AcceptDeposit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.EnvelopeRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.OnPremise)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Access)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.InstallationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.DriveThruOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.LimitedTransactions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.HandicapAccess)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AcceptCash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Cashless)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.SelfServiceOnly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.Surcharge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.OnMilitaryBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.MilitaryIdRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.SelfServiceDevice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialQualities.AccessNotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursMonOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursMonClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursTueOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursTueClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursWedOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursWedClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursThuOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursThuClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursFriOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursFriClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSatOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSatClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSunOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursSunClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtmonOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtmonClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDttueOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDttueClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtwedOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtwedClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtthuOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtthuClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtfriOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtfriClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsatOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsatClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsunOpen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoursPerDayOfTheWeek.HoursDtsunClose)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/TableDataExportHelper.js"></script>
    <script src="~/js/TableShowHelper.js"></script>
}
